*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: grid;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {

}

.result {

}

.result__video-container {

}

.result__video {

}
/* form content */
.search-form {

}

.search-form__fieldset {

}

.search-form__fieldset-title{

}

.search-form__label {

}

.search-form__label-text {

}

.search-form__textfield {

}

.search-form__checkbox-list {

}

.search-form__checkbox {

}

.search-form__pseudo-checkbox {

}

.button {

}

.search-form__submit-button {

}

.content__details {

}

.title {

}

.content__accent {

}

.content__list {

}